* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme a {
    color: #A2C7EC;
}

body {
    display: grid;
    font-family: 'Merriweather', serif;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

nav {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    align-self: center;
}

nav h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    white-space: nowrap;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    line-height: 1.75em;
}